<%= form_tag(add_to_cart_path) do %>
  <%= hidden_field_tag(:text, text) %>
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <%= label_tag(:size, "Size") %>
        <%= select_tag(:size, size_options_for_select(product, variant), { class: "form-control" }) %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= label_tag(:color, "Color") %>
        <%= select_tag(:color, color_options_for_select(product, variant), { class: "form-control" }) %>
      </div>
    </div>
  </div>
  <%= submit_tag("Buy now", class: "btn btn-primary") %>
<% end %>
<script type='text/javascript'>
  $("select[name='color']").change(function () {
    var color = $(this).val();
    $.ajax({
      url: '<%= design_path(text: text) %>',
      type: 'get',
      data: { color: color },
    });
  });
</script>
