<div class="container">
  <h1 class="page-title"><%= @text %></h1>
  <div class="row">
    <div class="col-md-6" id="preview-image">
      <%= image_tag @mockup_path, alt: "Black T-Shirt with \"#{@text}\"" %>
    </div>
    <div class="col-md-6" id="customise-design">
      <%= image_tag @image_path, alt: @text %>
      <h4>Product description</h4>
      <p>Fitted, comfortable, and soft – this cool Velociraptor t-shirt was made just for you. It can withstand several washings while maintaining its shape, so it's great for everyday wear!</p>
      <ul>
        <li>100% fine jersey cotton (Heather colors contain polyester)</li>
        <li>Fabric weight: 4.3 oz (146 g/m2)</li>
        <li>Shoulder-to-shoulder taping</li>
        <li>Double stitched</li>
        <li>Made in the USA</li>
      </ul>
      <h3>Size guide</h3>
      <table>
        <tbody>
          <tr>
            <td></td>
            <td><strong>XS</strong></td>
            <td><strong>S</strong></td>
            <td><strong>M</strong></td>
            <td><strong>L</strong></td>
            <td><strong>XL</strong></td>
          </tr>
          <tr>
            <th>Chest (inches)</th>
            <td>30-32</td>
            <td>34-36</td>
            <td>38-40</td>
            <td>42-44</td>
            <td>46-48</td>
          </tr>
          <tr>
            <th>Waist (inches)</th>
            <td>28-30</td>
            <td>30-32</td>
            <td>32-33</td>
            <td>33-34</td>
            <td>36-38</td>
          </tr>
        </tbody>
      </table>
      <%= form_tag(add_to_cart_path) do %>
        <%= hidden_field_tag(:text, @text) %>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <%= label_tag(:size, "Size") %>
              <%= select_tag(:size, options_for_select(@available_sizes, "M"), { class: "form-control" }) %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= label_tag(:color, "Color") %>
              <%= select_tag(:color, options_for_select(@available_colors), { class: "form-control" }) %>
            </div>
          </div>
        </div>
        <%= submit_tag("Buy now", class: "btn btn-primary") %>
      <% end %>
    </div>
  </div>

</div>
