<div class="container">
  <h1 class="page-title"><%= @text %></h1>
  <div class="row">
    <div class="col-md-6" id="preview-image">
      <%= image_tag @mockup_path, alt: "Black T-Shirt with \"#{@text}\"" %>
    </div>
    <div class="col-md-6" id="customise-design">
      <%= image_tag @image_path, alt: @text %>

      <%= render "designs/form", text: @text, available_sizes: @available_sizes, available_colors: @available_colors %>

      <h4>Product description</h4>
      <%= html_description(@product) %>

      <h3>Size guide</h3>
      <%= image_tag asset_path("sizechart.jpg"), alt: "Size guide" %>
    </div>
  </div>

</div>
