<% title "\"#{@text}\" #{@product_title}" %>
<% description "Custom \"#{@text}\" #{@product_title} in the iconic Supreme box logo style." %>
<% set_meta_tags og: {
  image: {
    _: @mockup_url,
    alt: @variant_title
  },
  price: {
    amount: @variant.price,
    currency: "USD"
  }
} %>

<div class="container">
  <h1 class="page-title"><%= @text %></h1>
  <div class="row">
    <div class="col-md-6" id="preview-image">
      <%= image_tag @mockup_url, alt: @variant_title %>
    </div>
    <div class="col-md-6" id="customise-design">
      <p><%= image_tag @image_url, alt: @text %></p>

      <div class="description">
        <h2><%= @product_title %></h2>
        <div class="price">
          <%= number_to_currency(@variant.price) %>
        </div>
      </div>
      <div id="variant-form">
        <%= render "designs/form", text: @text, product: @product, variant: @variant %>
      </div>

      <div class="text-center text-muted">
        <p>Secure checkout with</p>
        <%= render "trust_signals" %>
      </div>

      <%= html_description(@product) %>

      <h3>Size guide</h3>
      <%= image_tag asset_path("sizechart.jpg"), alt: "Size guide" %>
    </div>
  </div>

</div>
