<div class="table-responsive">
  <table class="cart table table-sm">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>
          <div class="text-right">Price</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% cart.line_items.each do |item| %>
        <tr>
          <td>
            <div class="row">
              <div class="col-sm-4 image">
                <div class="text-center">
                  <%= link_to image_tag(mockup_image_path(item.text, color: item.variant.color.parameterize, width: 128), alt: "#{item.variant.color} T-Shirt with \"#{item.text}\""), design_path(text: item.text) %>
                  <br />
                  <%= link_to image_tag(generated_image_path(item.text, size: 16), alt: item.text), design_path(text: item.text) %>
                </div>
              </div>
              <div class="col-sm-8 d-sm-flex align-items-center description">
                <div>
                  <p><%= item.title %></p>
                  <div class="small text-muted">
                    <%= link_to "Remove", remove_from_cart_path(line_item_id: item.id), remote: true, method: :post, data: { confirm: "Remove from cart?" } %>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <%= form_tag(update_cart_path, remote: true, authenticity_token: true) do %>
              <%= hidden_field_tag :line_item_id, item.id %>
              <%= number_field_tag :quantity, item.quantity, min: 1, onchange: "Rails.fire(this.form, 'submit')", class: "form-control" %>
            <% end %>
          </td>
          <td>
            <div class="text-right">
              <%= number_to_currency(item.price) %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2">
          Subtotal
        </td>
        <td>
          <div class="text-right">
            <%= number_to_currency(cart.subtotal) %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          Shipping fee
        </td>
        <td>
          <div class="text-right">
            <%= number_to_currency(cart.shipping_fee) %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>Total</strong>
        </td>
        <td>
          <div class="text-right">
            <strong><%= number_to_currency(cart.total) %></strong>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
