
<div>
  <% cart.line_items.each do |item| %>
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="col-4">
          <div class="text-center">
            <%= image_tag(generated_image_path(item.text, size: 16), alt: item.text) %>
          </div>
        </div>
        <div class="col-8">
          <%= number_to_currency(item.price) %>
          <br />
          <%= item.variant.color %>
          <%= item.variant.size %>
          <%= item.variant.product.title %>
          <br />
          Quantity: <%= item.quantity %>
        </div>
      </div>
    </div>
  <% end %>
</div>
