<div class="container">
  <% cart.line_items.each do |item| %>
    <%= item.variant.product.title %>
    <%= item.variant.color %>
    <%= item.variant.size %>
    <%= item.quantity %>
  <% end %>

  <%= render "orders/form", order: @order %>
</div>
