<%= simple_form_for(order, url: orders_path) do |f| %>
  <%= f.input :name %>
  <%= f.input :email, required: true %>
  <%= f.fields_for(:address, address) do |af| %>
    <%= af.input :country_code, required: true, collection: Countries.list.invert, label: "Country" %>
    <%= af.input :street1, label: "Street address" %>
    <%= af.input :street2, label: "Street address 2 (optional)" %>
    <%= af.input :zip_code, label: "ZIP or Postcode" %>
    <%= af.input :city %>
    <%= af.input :state_code, collection: [], label: "State, Region or Province" %>
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
<% end %>

<%= form_for(order, url: orders_path) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <%= f.fields_for(:address, address) do |af| %>
    <div class="form-group">
      <%= af.label :country_code, "Country" %>
      <%= af.select :country_code, country_options_for_select(selected: address.country_code), {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :street1, "Street address" %>
      <%= af.text_field :street1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :street2, "Street address 2 (optional)" %>
      <%= af.text_field :street2, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :zip_code, "ZIP or Postcode" %>
      <%= af.text_field :zip_code, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :city, "City" %>
      <%= af.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group select-state" style="display: none;">
      <%= af.label :state_code, "State, Region or Province" %>
      <%= af.select :state_code, [], {}, class: "form-control" %>
    </div>
  <% end %>
  <%= f.submit("Continue", class: "btn btn-primary") %>
<% end %>
<script type='text/javascript'>
  $("select").select2({
      theme: "bootstrap"
  });
  countryStateSelect(
    "select[name='purchase_order[address_attributes][country_code]']",
    "select[name='purchase_order[address_attributes][state_code]']",
    ".purchase_order_address_state_code"
  );
</script>
