<%= simple_form_for(order, url: orders_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email, required: true %>
    <%= f.fields_for(:address, address) do |af| %>
      <%= af.input :street1 %>
      <%= af.input :street2 %>
      <%= af.input :country_code, required: true, collection: Countries.list.invert %>
      <%= af.input :state_code, collection: Countries.states_for(address.country_code).invert %>
      <div class="row">
        <%= af.input :zip_code, wrapper_html: { class: "col" } %>
        <%= af.input :city, wrapper_html: { class: "col" } %>
      </div>
    <% end %>
  </div>
  <div class="form-actions row justify-content-end">
    <div class="col-md-4 col-lg-2">
      <%= f.button :submit, "Continue", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
<% end %>
<script type='text/javascript'>
  $("select").select2({
      theme: "bootstrap"
  });
  countryStateSelect(
    "select[name='purchase_order[address_attributes][country_code]']",
    "select[name='purchase_order[address_attributes][state_code]']",
    ".purchase_order_address_state_code"
  );
</script>
