<%= form_for(order, url: orders_path) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <%= f.fields_for(:address, address) do |af| %>
    <div class="form-group">
      <%= af.label :country_code, "Country" %>
      <%= af.select :country_code, country_options_for_select(selected: address.country_code), {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :street1, "Street address" %>
      <%= af.text_field :street1, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :street2, "Street address 2 (optional)" %>
      <%= af.text_field :street2, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :zip_code, "ZIP or Postcode" %>
      <%= af.text_field :zip_code, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= af.label :city, "City" %>
      <%= af.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group select-state" style="display: none;">
      <%= af.label :state_code, "State, Region or Province" %>
      <%= af.select :state_code, [], {}, class: "form-control" %>
    </div>
  <% end %>
  <%= f.submit("Continue", class: "btn btn-primary") %>
<% end %>
<script type='text/javascript'>
  countryStateSelect(
    "#purchase_order_address_attributes_country_code",
    "#purchase_order_address_attributes_state_code",
    ".select-state"
  );
</script>
