<div>
  <p>
    <%= order.name %>
    <br />
    <%= order.email %>
  </p>
  <p>
    <%= render "shared/address", address: order.address %>
  </p>
</div>
<hr />
<%= render "orders/line_items", order: order %>
<hr />
<div class="row">
  <div class="col-8">
    <p>Subtotal</p>
  </div>
  <div class="col-4">
    <p class="text-right">
      <strong><%= number_to_currency(order.subtotal) %></strong>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p>Shipping fee</p>
  </div>
  <div class="col-4">
    <p class="text-right">
      <strong><%= number_to_currency(order.shipping_fee) %></strong>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p>Total</p>
  </div>
  <div class="col-4">
    <p class="text-right">
      <strong><%= number_to_currency(order.total) %></strong>
    </p>
  </div>
</div>
