<div class="container">
  <h1 class="page-title">Order summary</h1>
  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <%= render "orders/summary", order: cart %>
      </div>
    </div>
  </div>

  <br />

  <%= form_tag charges_path do %>
    <% if flash[:error].present? %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= hidden_field_tag(:order_id, @order.id) %>

    <div class="text-muted">
      <%= render "trust_signals" %>
    </div>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Supermeme"
            data-amount="<%= @order.total_in_cents %>"
            data-email="<%= @order.email %>"
            data-allow-remember-me="false"
            data-locale="auto"></script>
  <% end %>
</div>
