<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "orders/shipping_details", order: cart %>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= render "cart/summary", cart: cart %>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <%= form_tag charges_path do %>
    <% if flash[:error].present? %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= hidden_field_tag(:order_id, @order.id) %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Supermeme"
            data-amount="<%= @order.price_in_cents %>"
            data-email="<%= @order.email %>"
            data-allow-remember-me="false"
            data-locale="auto"></script>
  <% end %>
</div>
