<% title "Create your own Supreme T-Shirt in seconds." %>
<% description "Are you tired of wearing the same mass produced clothes as everybody else on the street? Our user-friendly Supermeme generator enables you to easily create and preview your unique design." %>
<% set_meta_tags og: {
  image: {
    _: asset_url("supermeme-what-is-supermeme.jpg"),
    alt: "man wearing white T-shirt with custom Supreme box logo"
  }
} %>

<div class="jumbotron jumbotron-fluid" id="hero">
  <div class="container" id="hero-content">
  <div class="row">
  <div class="col-12 col-md-8 my-auto">
    <h1>Create your own<br>Supreme T-Shirts<br>in seconds</h1>
    <%= link_to "Get Started", new_design_path, :class =>"btn btn-lg btn-supreme btn-animated" %>
  </div>
  <div class="col-4 p-md-3 p-lg-5 d-none d-md-block">
  <%= image_tag("hero-t-shirt.png", :alt => "white T-shirt on a hanger with supermeme.co in the supreme box logo.") %>
  </div>
</div></div></div>


<div class="container py-3">
  <div class="row" id="who-are-we">
    <div class="col-md-6">
      <section>
        <h2>What is Supermeme?</h2>
        <p>Supermeme, a Supreme style T-shirt generator, combines our love for streetwear, the iconic Supreme brand and internet meme culture. Use the Supreme box logo generator to quickly create your Supreme inspired shirts.</p>
        <p>Write something you love or think would look great in the Supreme logo and let the generator work its magic! Don't wait on the next exclusive Supreme drop and create your own custom Supreme tee!</p>
        <p><%= link_to "Get Started", new_design_path,:class =>"btn btn-lg btn-supreme btn-animated" %></p>
      </section>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <%= image_tag("supermeme-what-is-supermeme.jpg", :alt => "man wearing white T-shirt with custom Supreme box logo") %>
    </div>
  </div>
</div>
<div class="container"><hr class="divider my-5"></div>

<div class="container py-3">
  <div class="row" id="how-we-work">
    <div class="col-md-12">
      <h2>How it works</h2>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="process-card">
        <div class="process-image">
          <span class="oi oi-brush" title="icon brush" aria-hidden="true"></span>
        </div>
        <div class="process-title">
          <h4>Design</h4>
        </div>
        <div class="process-description">
          <p>Our user-friendly Supermeme generator enables you to easily create and preview your unique <strong>design</strong>.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="process-card">
        <div class="process-image">
          <span class="oi oi-print" title="icon print" aria-hidden="true"></span>
        </div>
        <div class="process-title">
          <h4>Print</h4>
        </div>
        <div class="process-description">
          <p>Choose a size, color and type of clothing and we'll <strong>print</strong> your personalized design for you!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="process-card">
        <div class="process-image">
          <span class="oi oi-timer" title="icon timer" aria-hidden="true"></span>
        </div>
        <div class="process-title">
          <h4>Delivery</h4>
        </div>
        <div class="process-description">
          <p>We have warehouses all over the world, so you can be sure your creation will be <strong>delivered</strong> asap.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="process-card">
        <div class="process-image">
          <span class="oi oi-heart" title="icon heart" aria-hidden="true"></span>
        </div>
        <div class="process-title">
          <h4>Enjoy</h4>
        </div>
        <div class="process-description">
          <p>Simply <strong>enjoy</strong> wearing your new t-shirt or sweater and rock your unique style!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container"><hr class="divider my-5"></div>

<div class="container py-3">
  <h2>Trending from users</h2>
  <div class="card-columns d-none d-md-block">
    <div class="card">
      <%= image_tag("supermeme-trending-1.jpg", :alt => "Woman with Vancouver in the supreme box logo on her T-shirt taking a selfie.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-2.jpg", :alt => "Man with Poke Bowl in the supreme box logo on his T-shirt walking in the street.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-3.jpg", :alt => "Woman with Souvklaki in the supreme box logo on her T-shirt.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-4.jpg", :alt => "Man with Chewbacca in the supreme box logo on his T-shirt sitting near a gas station.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-5.jpg", :alt => "Woman with Beth Harmon in the supreme box logo on her T-shirt sticking out her tongue.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-6.jpg", :alt => "Man with Maradonna in the supreme box logo on his T-shirt.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-7.jpg", :alt => "Man with John Lennon in the supreme box logo on his T-shirt.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-8.jpg", :alt => "Man with Black Lives Matter in the supreme box logo on his T-shirt giving a concert.", :class =>"card-img") %>
    </div>
    <div class="card">
      <%= image_tag("supermeme-trending-9.jpg", :alt => "Woman with Quidditch in the supreme box logo on her T-shirt.", :class =>"card-img") %>
    </div>
  </div>
  <div id="carouselTrending" class="carousel slide d-block d-md-none" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("supermeme-trending-1.jpg", :alt => "Woman with Vancouver in the supreme box logo on her T-shirt taking a selfie.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-2.jpg", :alt => "Man with Poke Bowl in the supreme box logo on his T-shirt walking in the street.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-3.jpg", :alt => "Woman with Souvklaki in the supreme box logo on her T-shirt.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-4.jpg", :alt => "Man with Chewbacca in the supreme box logo on his T-shirt sitting near a gas station.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-5.jpg", :alt => "Woman with Beth Harmon in the supreme box logo on her T-shirt sticking out her tongue.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-6.jpg", :alt => "Man with Maradonna in the supreme box logo on his T-shirt.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-7.jpg", :alt => "Man with John Lennon in the supreme box logo on his T-shirt.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-8.jpg", :alt => "Man with Black Lives Matter in the supreme box logo on his T-shirt giving a concert.", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("supermeme-trending-9.jpg", :alt => "Woman with Quidditch in the supreme box logo on her T-shirt.", :class => "d-block w-100") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselTrending" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselTrending" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container"><hr class="divider my-5"></div>

<div class="container py-3 text-center">
<h2>We are here for you</h2>
<p>Contact us at <a href="mailto:hello@supermeme.co">hello@supermeme.co</a> or shoot us a message on <%= link_to "Instagram", "https://www.instagram.com/supermeme.co/", target: "_blank" %> or <%= link_to "Facebook", "https://www.facebook.com/Supermeme-347154725864134/", target: "_blank" %>.</p>
</div>
</div>
