<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags site: 'Supermeme', reverse: true, canonical: canonical_url, og: { site_name: :site, title: :title, description: :description } %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />

    <%= favicon_link_tag asset_path('favicon.png') %>

    <% if Rails.application.config.google_analytics[:tracking_id] %>
      <%= render "analytics", tracking_id: Rails.application.config.google_analytics[:tracking_id] %>
    <% end %>
  </head>

  <body class="d-flex flex-column">
    <%= render "navigation" %>

    <main class="flex-grow-1">
      <%= yield %>
    </main>

    <%= render "footer" %>
  </body>
</html>
